@import './../Vars.scss';
.conteiner {
  box-shadow: 1px 1px 7px 1px #888888;
  margin: 50px;
  .conteiner__title {
    background: #E8E8E8;
  }
  .conteiner__form {
    background-color: #F7F7F7;
    padding: 20px;
    .container__image {
      width: 100%;
      display: flex;
      align-items: center;
      .container__image--pagos {
        margin: 10px;
      }
    }
  }
  .formPagos {
    padding: 30px;
    grid-template-columns: 400px 1fr;
    display: grid;

    .formPagos__details {
      padding: 10px;

      .formPagos__details--dateExp {
        display: flex;
        align-items: center;
        .container__image--pagos {
          margin:0 10px;
        }
      }
    }
  }
}

h2 {
  margin: 0px;
  padding: 15px;
  font-size: 18px;
}

img {
  width: 60px;
}

input {
  outline: 0 none;
  padding: 10px;
  border: solid 1px gray;
  width: 70%;
  margin: 10px 0px 10px 10px;
}

.BtnSubscribe {
    display: flex;
    justify-content: flex-end;
  .subscribe {
    background: $main-color;
    color: white;
    width: 250px;
    padding: 11px;
    border-radius: 5px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
