div.container {
  display: grid;
  grid-template-columns: 20% 70% 10%;
  justify-content: center;
  align-items: center;
}

nav {
  background-color: #2FD5F5;

  .nav__header {
    display: flex;
    justify-content: center;
  }

  ul {
    display: flex;
    padding: 10px;
  }

  li {
    padding-left: 50px;
    list-style: none;
    font-family: 'Oswald', sans-serif;

    a {
      text-transform: uppercase;
      color: white;
      text-decoration: none;
    }

    a:hover{
      color: black;
    }
  }
}

.container__header {
  display: flex;
  justify-content: center;
  align-items: center;
  .container__header--icon {
    display: flex;
  }

  .container__header--image {
    width: 150px;
  }
}

.input {
  outline: 0 none;
  padding: 10px;
  border: solid 1px gray;
  width: 70%;
  margin: 20px 0px 20px 20px;
}

.button {
  background: #2FD5F5;
  color: white;
  padding: 5px;
  margin: 0px;
  border: 0;
  text-transform: uppercase;
  width: 30px;
  height: 29px;
}

ion-icon{
  font-size: 28px;
}

.cart {
  position: relative;
  .cart-counter {
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 100%;
    background-color: #2FD5F5;
    width: 15px;
    height: 15px;
    z-index: 2;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    color: white;
  }
}