@import './../Vars.scss';

.input2 {
    outline: 0 none;
    padding: 5px;
    border: 0;
    width: 60%;
  }
  
  .register__container {
    .register__container--form {
      position: relative;
      box-shadow: 1px 1px 7px 1px #888888;
      width: 35%;
      margin: 0 auto;
      top: 50px;
      padding: 40px 10px;
      border-radius: 41px;
      color: black;
      font-family: 'Playfair Display', serif;
      margin-bottom: 110px;
  
      .form {
        display: flex;
        padding: 10px;
  
        h4 {
          margin: 10px;
        }
  
        input {
          right: 35px;
          position: absolute;
          padding: 10px;
          width: 50%;
        }
      }
      .form__password {
        display: flex;
  
        h4 {
          margin: 10px;
        }
  
        input {
          right: 35px;
          position: absolute;
          padding: 10px;
          width: 50%;
        }
      }
    }
  }

.buttonRegister {
  margin-top: 10px;
  display: flex;
  justify-content: center;

  .subscribeRegister {
    background: $main-color;
    color: white;
    padding: 11px;
    margin: 0px;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    width: 60%;
  }
}

  .subscribeBtnShow {
    background: #a5a5a7;
    color: white;
    height: 37px;
    margin: 0px;
    border: 0;
    text-transform: uppercase;
    z-index: 2;
    position: absolute;
    right: 35px;
  }